requirements.txt
requirements.txt
# VS Code settings
.vscode/

# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environments
.venv/
env/
venv/
ENV/

# Ansible-specific files
*.retry
*.swp
*.bak
*.tmp
ansible.cfg
hosts
inventory
*.yml~

# Python packaging
*.egg
*.egg-info
dist/
build/
pip-wheel-metadata/
__pycache__/